body {
	font-family: 'Open Sans', sans-serif;
	width: 40em;
	margin: 2em;
}

#posts {
	display: table;
	list-style: none;
	padding: 0;
}

#posts li {
	display: table-row;
}

#posts span {
	display: table-cell;
	padding-bottom: 0.25em;
	vertical-align: top;
}

#posts time, #posts a {
	display: inline-block;
}

#posts span:first-child {
	text-align: right;
	white-space: nowrap;
}

#posts a {
	padding-left: 0.5em;
}

time, .subheading {
	color: #666;
}

h1 {
	margin-bottom: 0;
}

.subheading {
	margin: 0;
	font-size: 0.9em;
}

#time {
	padding: 0;
	margin: 0;
}

#time li {
	display: inline;
	margin-right: 0.5em;
}