---
layout: default
---

<article>
	<header>
		<h1>{{ page.title | escape }}</h1>
		<p class="subheading">
			Posted <time datetime="{{ page.date }}">{{ page.date | date: "%e %b %Y" }}</time>. <a href="/">More Posts</a>
		</p>
	</header>
	{{ content }}
</article>
<nav>
	<ul id="previousnext">
		<li id="previous">
		{% if page.previous %}
			&laquo; <span><a href="{{ page.previous.url}}" title="{{ page.previous.title | escape }}">{{ page.previous.title }}</a></span>
		{% else %}
			&nbsp;
		{% endif %}
		</li>
		<li id="next">
		{% if page.next %}
			<span><a href="{{ page.next.url }}" title="{{ page.next.title | escape }}">{{ page.next.title }}</a></span> &raquo;
		{% else %}
			&nbsp;
		{% endif %}
		</li>
	</ul>
</nav>
<div id="disqus_thread" />
<script type="text/javascript">
    var disqus_shortname = 'morethannothing';
    var disqus_identifier = '{{ page.url }}';
    var disqus_title = "{{ page.title | escape }}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>